{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container flex-grow-1  py-4">

  <!-- Botón volver -->
  <a href="{% url 'detalle_grupo' grupo.codigo %}" class="btn btn-link mb-3">
    <i class="fas fa-arrow-left"></i> Volver
  </a>

  <!-- Título del grupo -->
  <div class="row">
    <div class="col-4">
    <h2>Integrantes de {{ grupo.nombre }}</h2>
    </div>
  <!-- Formulario de búsqueda -->
  <div class="col">
  <form method="get" class="my-3">
    <div class="input-group">
      {{ form.nombre|add_class:"form-control" | attr:"placeholder:Buscar Estudiante..." }}
      <button type="submit" class="btn btn-outline-secondary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
  </div>
  </div>

  <!-- Lista de integrantes -->
  <div class="list-group">
    {% for integrante in integrantes %}
      {% include 'common/CardIntegrante.html' with integrante=integrante %}
    {% empty %}
      <div class="text-muted">No hay integrantes.</div>
    {% endfor %}
  </div>

</div>
{% endblock %}
