{% extends 'common/grupo_base.html' %}

{% block title %}Nominaciones{% endblock %}

{% block grupo_content %}
<div class="container-fluid px-4">
    <!-- Seccion nominaciones -->
    <div class="card shadow-sm mb-4 border-0 bg-secondary bg-opacity-25">  
        <div class="card-body"> 
            <h1 class="display-5 text-dark">Nominaciones</h1>
        </div>
    </div>

    <!-- Listado de nominaciones -->
    <div class="py-4">
        <div class="row">
	          <div class="flex-grow-1">
		            <div class="container">
			              <div class="container">
				                {%for nominacion in nominaciones %}
					                  {% include 'common/CardNominacion.html' %}
				                {% endfor %}
			              </div>
		            </div>
	          </div>
        </div>
    </div>
</div>

{% endblock %}
