{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
<div class="container flex-grow-1">
	<div class="row py-4">
			<div style="box-sizing: border-box;  display: flex; justify-content: space-between; align-items: center; padding: 2%;">
			<h1>{{nominacion.categoria}}</h1>
		<form action="" method="POST">
      {% csrf_token %}
      <div style="display: flex; justify-content: space-between;">
          <label for="nombre" style="margin-right: 15px; margin-left: 15px;">Buscar Estudiante: </label>
          {{formBusqueda.nombre}}
          <button type="submit" class="btn btn-primary" style="margin-left: 30px;"> Buscar </button>
      </div>
    </form>
    <form action="" method="POST">
      {% csrf_token %}
		  <button type="submit" name="Postular" class="btn btn-success" {{desabilitarPostulacion}}>Postularse</button>
		</form>
		</div>
	
	<div class="container">
	    <p style="color: crimson;">{{dato}}</p>
			{%for inscrito in inscritos %}
				{% with numCuenta=inscrito.numCuenta.numCuenta%}
					{% include 'common/CardPostulados.html' %}
        {% endwith %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
