{# templates/admin/admin_comentarios.html #}
{% extends 'admin/admin_base.html' %}

{% block admin_title %}Administrar Comentarios{% endblock %}
{% block header %}Comentarios{% endblock %}

{% block admin_content %}
  {%if comentarios%}
  
  <table class="table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Fecha de redacción</th>
        <th class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for com in comentarios %}
        <tr>
          <td>{{ com.numCuenta }}</td>
          <td>Redactado {{ com.fecha_creacion|date:"d/m/Y" }} - {{ com.hora_creacion|time:"H:i:s" }}</td>
          <td class="text-end">
            <div class="d-inline-flex gap-2">
              <a class="btn btn-outline-dark" href="{% url 'editar_comentario' grupo_id=grupo.codigo comentario_id=com.idComentario %}">
                <i class="fas fa-pencil me-1"></i> Editar
              </a>

              <button class="btn btn-danger" onclick="confirmarEliminacion('{% url 'eliminar_comentario' grupo_id=grupo.codigo comentario_id=com.idComentario %}')" >
                <i class="fas fa-trash-alt me-1"></i> Eliminar
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h4 class="py-4 text-center">No hay comentarios registrados</h4>
  {% endif %}
{% endblock %}

