{# templates/admin/admin_comentarios.html #}
{% extends 'admin/admin_base.html' %}

{% block admin_title %}Administrar Comentarios{% endblock %}
{% block header %}Comentarios{% endblock %}

{% block admin_content %}
  {%if comentarios%}
  {% for com in comentarios%}
    <tr>
      <td>{{ com.numCuenta }}</td>
      <td>Realizado {{ com.fecha_creacion|date:"d/m/Y" }} - {{ com.hora_creacion|time:"H:i:s" }}</td>
      <td>
        <div class="d-flex gap-2">
        </div>
      </td>
    </tr>
  {% endfor %}
  {% else %}
    <h4 class="py-4 text-center">No hay comentarios registrados</h4>
  {% endif %}
{% endblock %}

