{% extends 'common/grupo_base.html' %}
<!--Muestra en la parte del enlace una pequeña historia para que el usuario
sepa en que vista se encuentra-->
{% block title %}Info Grupos{% endblock %}

{% block grupo_content %}
<!-- Nombre del grupo -->
<div class="card shadow-sm mb-4 border-0 bg-secondary bg-opacity-25">  
    <div class="card-body"> 
        <h1 class="display-5 text-dark">
        {{grupo.nombre}}
        </h1>
    </div>
</div>
<div class="container-fluid px-4">
    
    <div class="card shadow mb-4">
        <div class="card-body"> 
            <div class="p-2 rounded bg-light" style="height: 4rem;">
                <p class="mb-0">
                {{grupo.descripcion}}
                </p>
            </div>
        </div>
    </div>

    {% if publicaciones %}
        {% for publicacion in publicaciones %}
            {% include 'common/CardPublicacion.html' with publicacion=publicacion %}
        {% endfor %}
    {% else %}
        <h4 class="py-4 text-center">Aún no hay publicaciones en este grupo.</h4>
    {% endif %}

    <!-- Comentarios
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="mb-3">Deja un comentario</h5>
            <div class="placeholder-wave">
                <div class="mb-3 placeholder" style="height: 6rem;"></div>
            </div>
        </div>
    </div>-->
</div>
{% endblock %}
