{% extends 'base.html' %}
<!--Muestra en la parte del enlace una pequeña historia para que el usuario
sepa en que vista se encuentra-->
{% block title %}Info Grupos{% endblock %}

{% block content %}
<div class="container container-fluid px-4 flex-grow-1">
    <!--<div class="d-flex justify-content-between align-items-center py-3 border-bottom">
        <div class="d-flex align-items-center gap-3">
        </div>
    </div>-->

    <!-- Navegación -->
    <div class="d-flex align-items-center py-3">
        <button class="btn btn-link text-dark me-3 p-0 border-0 bg-transparent">
            <i class="fas fa-arrow-left"></i>
        </button>
        <!--Cuando se tengan las demás vistas completar estos campos para redirigir a otra vista-->
        <nav class="d-flex gap-3">
            <a href="#" class="text-dark text-decoration-none">Principal</a>
            <a href="{% url 'nominaciones' %}" class="text-dark text-decoration-none">Nominaciones</a>
            <a href="{% url 'integrantes' grupo_id=grupo.codigo %}" class="text-dark text-decoration-none">Integrantes</a>
            <a href="#" class="text-dark text-decoration-none">Administración</a>
        </nav>
    </div>

    <!-- Nombre del grupo -->
    <div class="card shadow-sm mb-4 border-0 bg-secondary bg-opacity-25">  
    <div class="card-body"> 
        <h1 class="display-5 text-dark">
    <!--Cmabiar por el nombre de los grupos-->
    {{grupo.nombre}}
        </h1>
    </div>
</div>

    
<!-- Info grupo-->
<div class="card shadow mb-4">
    <div class="card-body"> 
        <div class="p-2 rounded bg-light" style="height: 8rem;">
            <p class="mb-0">
                Información o descripción del grupo
            </p>
        </div>
    </div>
</div>

    <!-- Comentarios -->
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="mb-3">Deja un comentario</h5>
            <div class="placeholder-wave">
                <div class="mb-3 placeholder" style="height: 6rem;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
