{% load static %}
{% load sweetify %}

<div class="d-flex flex-column flex-sm-row align-items-center justify-content-between py-2 border-bottom">
  <!-- Avatar e información personal -->
  <div class="d-flex align-items-center text-center text-sm-start mb-2 mb-sm-0">
    {% if integrante.tener.idPerfil.foto_perfil %}
      <img src="{{ integrante.tener.idPerfil.foto_perfil.url }}" alt="Avatar" class="rounded-circle me-sm-3 me-0" width="50" height="50">
    {% else %}
      <img src="{% static 'images/no-product-image.jpg' %}" alt="Sin imagen" class="rounded-circle me-sm-3 me-0" width="48" height="48">
    {% endif %}

    <div class="ms-sm-2 mt-2 mt-sm-0 text-start">
      <a href="{% url 'perfil' integrante.numCuenta %}" style="text-decoration: none;">
        <div class="fw-semibold text-dark">{{ integrante.nombre }} {{ integrante.primer_apellido }} {{ integrante.segundo_apellido }}</div>
      </a>
      <div class="text-muted small">{{ integrante.correoE }}</div>
    </div>
  </div>
  
  {{integrante.tener.idPerfil.marcofoto_set.first.marco_foto}}

  <!-- Botones de acción -->
  <div class="d-flex align-items-center gap-2">
    {% if user.is_superuser %}
      <button class="btn btn-danger" onclick="confirmExpulsion('{% url 'expulsar_alumno' grupo_id=grupo.codigo numCuenta=integrante.numCuenta %}')">
        <i class="fas fa-trash-alt me-1"></i> Expulsar
      </button>
    {% else %}   
      <a href="mailto:{{ integrante.correoE }}" class="btn btn-sm btn-light" aria-label="Enviar correo">
        <i class="fas fa-envelope"></i>
      </a>
    {% endif %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function confirmExpulsion(redirectUrl) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción expulsará al usuario.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#6c757d',
            confirmButtonText: 'Sí, expulsar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = redirectUrl;
            }
        });
    }
  </script>

{% sweetify %}
